<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exames - Medical Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/exames.css}">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
<header>
    <h1>
        <a href="/" class="logo">Medical Plus</a>
    </h1>
    <button th:if="${usuario == null}"
            class="login-btn"
            onclick="location.href='/login'">
        Login
    </button>
    <button th:if="${usuario != null}"
            class="login-btn"
            onclick="location.href='/profile'">
        Profile
    </button>
</header>
<div class="top-bar">
    <button class="back-btn" onclick="location.href='/'">Home</button>
</div>
<main class="container">
    <div class="content">
        <h2 class="titulo">Exames Disponíveis</h2>
        <div class="lista">
            <!-- LISTA -->
            <div th:if="${!#lists.isEmpty(exames)}">
                <div th:each="exame : ${exames}" class="exame-box">
                    <!-- EXAME -->
                    <div class="item" onclick="toggleExame(this)">
                        <span th:text="${exame}"></span>
                    </div>
                    <!-- MÉDICOS -->
                    <div class="medicos-box">
                        <div th:each="m : ${medicos}"
                             th:if="${#lists.contains(m.exames, exame)}"
                             class="medico-item">
                            <strong th:text="'Dr(a) ' +${m.nome}"></strong><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- VAZIO -->
            <div th:if="${#lists.isEmpty(exames)}" class="empty">
                Nenhum exame disponível no momento.
            </div>
        </div>
    </div>
</main>
<script>
    function toggleExame(element) {

        const box = element.nextElementSibling;

        if (box.style.display === "block") {
            box.style.display = "none";
        } else {
            box.style.display = "block";
        }
    }
</script>
</body>
</html>