<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <h1>
        <a href="/" class="logo">Medical Plus</a>
    </h1>

    <!-- QUANDO O PACIENTE NÃO ESTIVER LOGADO APARECE O BOTAO LOGIN -->
    <button th:if="${usuario == null}"
            class="login-btn"
            onclick="location.href='/login'">
        Login
    </button>

    <!-- QUANDO O PACIENTE ESTIVER LOGADO NO SISTEMA APARECE O BOTAO PROFILE -->
    <button th:if="${usuario != null}"
            class="login-btn"
            onclick="location.href='/profile'">
        Profile
    </button>
</header>

<section class="hero">
    <img src="/images/wallpaper_home.jpg" alt="Medical Plus Banner">
</section>

<!-- CARDS DE ACOES PRINCIPAIS DA TELA HOME DO SISTEMA -->
<main class="container">
    <div class="card" onclick="location.href='/agendamentos'">
        <h2>Agendamento</h2>
        <p>Marque suas consultas rapidamente</p>
    </div>

    <div class="card" onclick="location.href='/medicos'">
        <h2>Médicos</h2>
        <p>Veja a lista de profissionais</p>
    </div>

    <div class="card" onclick="location.href='/exames'">
        <h2>Exames</h2>
        <p>Consulte exames disponíveis</p>
    </div>
</main>
</body>
</html>