<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Medical Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
<div class="login-card">
    <h2>Login</h2>
    <!-- ERRO -->
    <div th:if="${param.erro}" class="erro">
        Email ou senha inválidos
    </div>
    <form action="/login" method="post" autocomplete="off">
        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Digite seu email" required autocomplete="off">
        </div>
        <div class="input-group">
            <label>Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha" required autocomplete="new-password">
        </div>
        <div class="links">
            <a href="/cadastro">Novo Cadastro</a>
            <a href="#">Recuperar senha</a>
        </div>
        <button type="submit" class="btn btn-login">Entrar</button>
        <button type="button" class="btn btn-back" onclick="location.href='/'">Voltar</button>
    </form>
</div>
<!-- LIMPAR CAMPOS AO VOLTAR -->
<script>
    window.addEventListener("pageshow", function () {
        document.querySelectorAll("input").forEach(input => input.value = "");
    });
</script>
</body>
</html>