<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Médicos - Medical Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/medicos.css}">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
<header>
    <h1>
        <a href="/" class="logo">Medical Plus</a>
    </h1>

    <!-- QUANDO O PACIENTE NÃO ESTIVER LOGADO APARECE O BOTAO LOGIN -->
    <button th:if="${usuario == null}"
            class="login-btn"
            onclick="location.href='/login'">
        Login
    </button>

    <!-- QUANDO O PACIENTE ESTIVER LOGADO NO SISTEMA APARECE O BOTAO PROFILE -->
    <button th:if="${usuario != null}"
            class="login-btn"
            onclick="location.href='/profile'">
        Profile
    </button>
</header>
<div class="top-bar">
    <button class="back-btn" onclick="location.href='/'">Home</button>
</div>
<main class="container">
    <div class="content">
        <h2 class="titulo">Médicos Disponíveis</h2>
        <div class="lista">
            <div th:each="m : ${medicos}" class="item">
                <div>
            <span class="nome"
                  th:text="'Dr(a) ' + ${m.nome}"></span>
                    <br>
                    <span class="especialidade"
                          th:text="${m.especialidade != null && !m.especialidade.isEmpty()
                          ? m.especialidade
                          : 'Sem Especialidade'}">
            </span>
                </div>
            </div>
            <!-- QUANDO NAO HOUVER NENHUM MEDICO CADASTRADO NO SISTEMA-->
            <div th:if="${#lists.isEmpty(medicos)}" class="empty">
                Nenhum médico cadastrado no momento.
            </div>

        </div>
    </div>
</main>
</body>
</html>